HOST="http://localhost:8080/"

HOST="http://localhost:8080/"

# Agent 1: BDI (your original)
TOKEN_1=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImQwMDRlNiIsIm5hbWUiOiJ0ZWVzdCIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzc0MzY0NjY0fQ.85eAScCJ625g_3ENs3pL-i2CPPvGOTXG9NVO27kl5d8
# Agent 2: BT (test2)
TOKEN_2=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjRmN2JjMiIsIm5hbWUiOiJ0ZXN0MiIsInJvbGUiOiJ1c2VyIiwiaWF0IjoxNzg0MjM4Mjk1fQ.0DfA3_TT1XhIRMGP5x9ZZk6culBhIkkz8TbCHA5Kfac

AGENT_TYPE_1=bt
AGENT_TYPE_2=bt
